[submodule "external/packetmachine"]
	path = external/packetmachine
	url = https://github.com/m-mizutani/packetmachine.git
[submodule "external/libfluent"]
	path = external/libfluent
	url = https://github.com/m-mizutani/libfluent.git
